# このページには、2010年以降のアカハニュースについて簡単に統計を取ったものが表示されています。

以下のページのにある表``【日本の研究者の性不正・アカハラ事件一覧】``を元に簡単な統計処理をしたものです。

：[研究者のセクハラ・アカハラ事件一覧 | 研究者倫理]((https://haklak.com/page_harassment_2.html))

---
# 最初のこの部分はデータ処理をしている所なので読み飛ばしてください。

**スクレイピング**

このページの表``【日本の研究者の性不正・アカハラ事件一覧】``を抽出

[研究者のセクハラ・アカハラ事件一覧 | 研究者倫理](https://haklak.com/page_harassment_2.html)


2010年以降の部分だけ（2010年以前は一部だけみたいなので）

In [32]:
import pandas as pd
import numpy as np
import os
from glob import glob

import requests
from bs4 import BeautifulSoup

In [33]:
url = f'https://haklak.com/page_harassment_2.html'

# スクレイピング
# urllib.request だと 503 service unavailable が出たので requests.getで
page = requests.get(url)

# パース
soup = BeautifulSoup(page.text, 'html.parser')

In [34]:
# tableを取得
table = soup.find_all("table")[1]

# 各行を取得
rows = table.find_all('tr')

# ここに追加していく
values_ary = []
columns = []

# セルの値を追加していく
for i, row in enumerate(rows):
    
    # 一行目はheader
    if i == 0:
        for cell in row.find_all('th'):
            v = cell.get_text()
            columns.append(v)

    # 2行目以降はcellの値
    else:    
        sub_ary = []
        for cell in row.find_all('td'):
            v = cell.get_text()
            sub_ary.append(v)
        values_ary.append(sub_ary)

df = pd.DataFrame(values_ary, columns=columns)

# 2010年以降を抽出
df = df.iloc[:179, :]

表の最初の2行を表示（どんな表か見るため）

In [35]:
display(df.head(2))

,公表年月日,名前(姓 名) SPACE,性,事件種,被害者 SPACESP,行為内容（文章は出典から修正引用） SPACESPACESPACESPACE,所属機関 SPAC,領域,地位,公表時年齢,職,処分など SPAC,透明性,出典
0,191113,匿名,男,レイプ,20代の女性卒業生1人,酩酊して眠っている状態のときに、同意なく性行為を強いられた,福島大学,？,教授、学類長,50代,✕,なし、自己都合退職,✕,191113田中圭太郎 191114大学
1,191018,匿名,男,セク、ストーキング,女性学生,頭や肩などに触れたり、学会出張時の列車内でひざを触った,山形大学,工,准教授,50代,〇,停職1か月,✕,191018産経

column名表示（後でコピペするため）

In [36]:
print(df.columns.tolist())

['公表年月日', '名前(姓 名) SPACE', '性', '事件種', '被害者 SPACESP', '行為内容（文章は出典から修正引用） SPACESPACESPACESPACE', '所属機関 SPAC', '領域', '地位', '公表時年齢', '職', '処分など SPAC', '透明性', '出典']

# ここまでがデータ処理の部分です。
---
# ここからが統計処理をした後のものです。

# ・表の簡単な統計値を表示

In [37]:
df.describe()

,公表年月日,名前(姓 名) SPACE,性,事件種,被害者 SPACESP,行為内容（文章は出典から修正引用） SPACESPACESPACESPACE,所属機関 SPAC,領域,地位,公表時年齢,職,処分など SPAC,透明性,出典
count,179,179,179,179,179,179,179,179,179,179,179,179,179,179
unique,169,41,5,27,134,168,103,38,26,35,10,103,7,164
top,190329,匿名,男,アカ,,２０１０～１２年、,山形大学,？,教授,50代,〇,？,✕,130715北海道
freq,2,139,154,62,6,5,7,43,95,49,127,11,149,5

# ・いくつかの項目について、種類とその出現数を表示

In [48]:
def display_value_counts(name):    
    dff = df[name].value_counts().to_frame()
    dff.columns = ['出現数']
    dff.index.name = '種類'
    dff = dff.reset_index()
    display(dff)

### 性

In [49]:
display_value_counts('性')

  種類  出現数
0  男  154
1  ？   11
2  女    9
3  ー    3
4       2

### 事件種

In [50]:
display_value_counts('事件種')

           種類  出現数
0          アカ   62
1          セク   29
2        性的暴行   22
3       セク、アカ   18
4          ハラ   10
5       アカ、セク    6
6         レイプ    5
7     性的暴行、アカ    3
8      強制わいせつ    3
9         アカ？    2
10     管理監督責任    2
11         パワ    2
12     アカ、セク？    1
13      アカ、再犯    1
14  ①性的暴行、②コク    1
15     セク、再犯？    1
16     レイプ、アカ    1
17        セク?    1
18         コク    1
19   性的暴行、再犯？    1
20         暴行    1
21  セク、ストーキング    1
22      セク、パワ    1
23         マタ    1
24      セク、再犯    1
25               1
26        のぞき    1

### 所属機関 SPAC

In [51]:
display_value_counts('所属機関 SPAC')

             種類  出現数
0          山形大学    7
1         北海道大学    6
2         早稲田大学    5
3          広島大学    4
4        九州工業大学    4
5          九州大学    4
6          金沢大学    4
7        大阪市立大学    4
8          島根大学    4
9          大阪大学    4
10       新潟薬科大学    3
11         東北大学    3
12       県立広島大学    3
13       帯広畜産大学    3
14       山口県立大学    3
15         京都大学    3
16       横浜市立大学    3
17       奈良女子大学    3
18       岩手県立大学    3
19         弘前大学    3
20       滋賀医科大学    2
21     沖縄県立芸術大学    2
22         静岡大学    2
23       室蘭工業大学    2
24       首都大学東京    2
25       東京学芸大学    2
26         群馬大学    2
27         東京大学    2
28         千葉大学    2
29         長崎大学    2
..          ...  ...
73       豊岡短期大学    1
74         大分大学    1
75     九州栄養福祉大学    1
76         成蹊大学    1
77          琉球大    1
78     九州保健福祉大学    1
79    和歌山県立医科大学    1
80         琉球大学    1
81       静岡県立大学    1
82   北海道立総合研究機構    1
83     秋田看護福祉大学    1
84         佐賀大学    1
85         福島大学    1
86         関西大学    1
87        聖路加病院    1
88      北九州市立大学    1
89         日本大学    1
90     東京医科歯科大学    1
91         徳島大学    1
92         中央大学    1
93       広島市立大学    1
94         一橋大学    1
95     愛知県立芸術大学    1
96        北里研究所    1
97       宮崎公立大学    1
98   陸上自衛隊・富士学校    1
99       東京芸術大学    1
100    九州看護福祉大学    1
101     名古屋芸術大学    1
102                1

[103 rows x 2 columns]

### 地位

In [52]:
display_value_counts('地位')

         種類  出現数
0        教授   95
1       准教授   33
2        教員    8
3        学長    6
4        助教    5
5     教授ら５人    5
6        講師    5
7        医師    2
8       学部長    2
9         ー    2
10     教育職員    1
11    非常勤講師    1
12             1
13  教授、元副学長    1
14     名誉教授    1
15   科長、元教授    1
16  教官、１等陸尉    1
17    係長相当職    1
18        ？    1
19       校長    1
20   教授、学類長    1
21   柔道部コーチ    1
22      理事長    1
23     特任教授    1
24    院長・医師    1
25    教授・学長    1

### 公表時年齢

In [53]:
display_value_counts('公表時年齢')

     種類  出現数
0   50代   49
1     ？   41
2   40代   22
3   60代    9
4   30代    7
5    58    4
6    63    3
7    61    3
8     ー    3
9    64    3
10   62    3
11    ?    3
12   68    3
13   66    2
14   52    2
15   55    2
16         2
17   82    1
18  60?    1
19   50    1
20  61歳    1
21   48    1
22   36    1
23   46    1
24  64？    1
25   35    1
26   33    1
27   41    1
28   54    1
29   44    1
30   65    1
31  56？    1
32  67歳    1
33   56    1
34   57    1

# ・公表時年齢 を元に 世代別件数 を計算

In [63]:
# ごみを削除
tmp = df['公表時年齢'].replace({'代': '', '歳': '', '\?': '', '\？': '', 'ー': ''}, regex=True)

# nan はいったん -100 にしておく
tmp = tmp.replace('', '-100')

# 値を世代に変更
tmp = tmp.map(lambda x: int(x) // 10 * 10)

# nanを戻す
tmp = tmp.replace(-100, '不明')

# dfに
tmp = tmp.value_counts().to_frame()

# 表示を整形
tmp.columns = ['件数']
tmp.index.name = '世代'
tmp = tmp.reset_index()

# 表示
tmp

   世代  件数
0  50  62
1  不明  49
2  60  31
3  40  26
4  30  10
5  80   1